.wrapper {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 8px;
  background-color: #000;
  box-shadow: 0px 0px 0px 3px #121212;
  z-index: 2;
}

.hideCursor, .hideCursor button, .hideCursor div{
  cursor: none;
}

.hideControls .header,
.hideControls .wrapperButtons,
.hideControls .wrapperButtons,
.hideControls .footerControls > div:not(.extraControls) {
  opacity: 0;
  cursor: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapperControls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 34px;
  background: 
    linear-gradient(0deg, transparent -20.17%, rgba(0, 0, 0, 0.616) 60.09%), 
    linear-gradient(180deg, transparent -20.17%, rgba(0, 0, 0, 0.616) 60.09%);
  transition: opacity 0.3s ease-in-out;
}

.wrapperButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.titleSource {
  color: #fafafa;
  font-size: 1.8em;
}

.footerControls {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
}

.extraControls {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
  justify-content: flex-end;
}

.videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.videoPlayer > video::cue {
  opacity: 1;
  background-color: transparent;
  font-family: 'LatoBlack';
  text-shadow: 
    0 0 4px black, 0 0 4px black, 0 0 4px black, 
    0 0 4px black, 0 0 4px black, 0 0 4px black, 
    0 0 4px black, 0 0 4px black, 0 0 4px black, 
    0 0 4px black, 0 0 4px black, 0 0 4px black, 
    0 0 4px black, 0 0 4px black, 0 0 4px black, 
    0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black;
}

.videoPlayer > video::-webkit-media-text-track-container {
  transform: translateY(-14%);
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .fullscreen {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
