.listEpisodesWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.listEpisodesWrapper > li {
  flex-basis: 48.9%;
}

@media (max-width: 900px) {
  .listEpisodesWrapper > li {
    flex-basis: 100%;
  }
}