.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease-in-out;
}

.btn:active {
  transform: scale(0.8);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.055);
}

.small {
  width: 44px;
  height: 44px;
  font-size: 2em;
}

.large {
  width: 120px;
  height: 120px;
  font-size: 18em;
}